.Img {
  position: fixed;
  
  height:auto;
  margin-top: -150px;
  margin-left: -90px;
  border-radius: 30%;
  max-width: 80%;
  max-height: 80%;
}

p{
  position: fixed;
  max-width: 400px;
  width: 50%;
  margin-left:850px;
  margin-top: 300px;
  border: solid;
}
.home{
  margin-top: 170px;
  margin-left: 400px;


}


